<div class="main">
    <div class ="top-title">
        <div class="text-center">
            <h1 class="cover-heading"><span class="text-muted">PORTFOLIO</span></h1>
                    <p class="lead"><span class="text-dimgray">Saki Portfolio web page.
                        Have fun to look around the pages</span></p>
                        
                            <div class="btn btn-outline-secondary m-5">
                                <%= link_to 'Q & A', questions_path, :class => "mt-xl-5 btn btn-outline-secondary" %>
                            </div>    

                            <div class="btn btn-outline-secondary m-5">
                                <%= link_to 'SHOP', shop_index_path, :class => "mt-xl-5 btn btn-outline-secondary" %>
                            </div>    
        </div>    
    </div>   
</div>
