<div class="main">
    <div class ="top-title">
        <div class="text-center">
                    <p class="lead"><span class="text-dimgray">Saki Portfolio web page.
                        Have fun to look around the pages</span></p>
                            <h1 class="cover-heading"><span class="text-muted">WORKS</span></h1> 
                            <div class="btn btn-outline-secondary m-5">
                                <%= link_to 'Q & A', questions_path, :class => "mt-xl-5 btn btn-outline-secondary" %>
                            </div>    
                            <div class="btn btn-outline-secondary m-5">
                                <a class="btn btn-outline-secondary mt-xl-5" href="https://play.google.com/store/apps/details?id=com.nemruin.st0321.nemurin2&hl=ja" role="button">Andorid Apps</a>
                            </div> 

                            <div class="btn btn-outline-secondary m-5">
                                <%= link_to 'SHOP', shop_index_path, :class => "mt-xl-5 btn btn-outline-secondary" %>
                            </div>  
        </div>    
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card img-thumbnail">
                <div class="card-body px-2 py-3">
                    <h5 class="card-title">GitHub</h5>
                    <p><a href="https://github.com/Tasan009St" target="_blank">https://github.com/Tasan009St</a></p>
                    <p>Nemurin2：Androidアプリ</p>
                    <p>PortfolioRubyOnRails：本サイト</p>
                    <p>PortFoiloJavaSpring ：Springを利用したユーザー認証ページ。ソースのみ公開</p>
                </div><!-- /.card-body -->
            </div><!-- /.card -->
        </div><!-- /.col-sm-23-->
    </div>   
    <div class="row">
        <div class="col-sm-12">
            <div class="card img-thumbnail">
                <div class="card-body px-2 py-3">
                    <h5 class="card-title">Profile</h5>
                    <p>入社３年目です。2016年新卒でSierに入社。</p>
                    <h5 class="card-title"><p>2016/08-2017/04</p></h5>
                    <p>お客様の社内システムの基盤チーム。Linux(RHEL7)の構築、運用シェルスクリプト作成を担当</p>
                    <h5 class="card-title"><p>2017/05-2017/08</p></h5>
                    <p>アプリチームに移動願いを出すが、業務改革コンサルのプロジェクトに配属され、京都出張を続ける。</p>
                    <h5 class="card-title"><p>2017/08~2017/09</p></h5>
                    <p>次のプロジェクトへの繋ぎとして、ひたすらExcelでのスクショ職人の仕事。社内活動としてインターン受け入れのサポートも行う</p>
                    <h5 class="card-title"><p>2017/10-2018/02</p></h5>
                    <p>Java開発者として主にデータ取得のAPIの実装を担当。</p>
                    <h5 class="card-title"><p>2018/02-2018/06</p></h5>
                    <p>RPG言語をJava化する案件に従事。ひたすらRPG解析資料と格闘しJavaでの設計書を作成する</p>
                    <h5 class="card-title"><p>2018/07-2018/12</p></h5>
                    <p>オフショア開発を行うことをリーダーが決断したため、ブリッジSEとしてQAや設計書のレビューを行う。</p>
                    <p>１か月ほど、1人フィリピンに行き作業する日々も。</p>
                </div><!-- /.card-body -->
            </div><!-- /.card -->
        </div><!-- /.col-sm-12-->
    </div> <!-- /.row-->  
</div>
