<div class="main">
    <h1 class="cover-heading"><span class="text-muted">PORTFOLIO</span></h1>
            <p class="lead"><span class="text-white">Saki Portfolio web page. Have fun to look around the pages</span></p>
            <span class="text-white">
            <div class="btn btn-lg btn-secondary">
             <%= link_to 'Q & A', questions_path, :class => "btn btn-lg btn-secondary" %>
            </div>
            </span>
</div>
