<div class="main">
    <div class ="top-title">
        <div class="text-center">
                    <p class="lead"><span class="text-dimgray">Saki Portfolio web page.
                        Have fun to look around the pages</span></p>
                            <h1 class="cover-heading"><span class="text-muted">WORKS</span></h1> 
                            <div class="btn btn-outline-secondary m-5">
                                <%= link_to 'Q & A', questions_path, :class => "mt-xl-5 btn btn-outline-secondary" %>
                            </div>    
                            <div class="btn btn-outline-secondary m-5">
                                <a class="btn btn-outline-secondary mt-xl-5" href="https://play.google.com/store/apps/details?id=com.nemruin.st0321.nemurin2&hl=ja" role="button">Andorid Apps</a>
                            </div> 

                            <div class="btn btn-outline-secondary m-5">
                                <a class="btn btn-outline-secondary mt-xl-5" href="https://shielded-mountain-73603.herokuapp.com" role="button">Book</a>
                            </div>  
        </div>    
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card img-thumbnail">
                <div class="card-body px-2 py-3">
                    <h5 class="card-title">GitHub</h5>
                    <p><a href="https://github.com/Tasan009St" target="_blank">https://github.com/Tasan009St</a></p>
                    <p>Nemurin2：Androidアプリ</p>
                    <p>PortfolioRubyOnRails：本サイト</p>
                    <p>PortFoiloJavaSpring ：Springを利用したユーザー認証ページ。ソースのみ公開</p>
                    <p>book_search : Bookのページ。作成途中</p>
                </div><!-- /.card-body -->
            </div><!-- /.card -->
        </div><!-- /.col-sm-23-->
    </div>   
</div>
