@import "bootstrap";

/*
.jumbotron {
    background-image: url("top0.jpg");
    background-size: cover;
    background-position: center 40%;
    width: 100vw;
    height:100vh;
  }
  */

.text-white {
  color: #FFFFFF	
}
